<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Recipes Page</title>
  </head>
  <body>
    <form action="/recipes" method="post">
      <h1>Make New Recipe</h1>
      <h2>Name of Recipe:<input type="text" name="name"></h2>
      <h2>Ingredients:<input type="text" name="ingredients"></h2>
      <h2>Cook Time:<input type="text" name="cook_time"></h2>
      <input type="submit" id="Submit">
    </form>
  </body>
</html>
