<h1>This is the 'new.erb' view.</h1>



<form method="POST" action="/recipes">
  Recipe name: <input id="name" type="text" name="name"><br>
  Ingredients: <input id="ingredients" type="text" name="ingredients"><br>
  Cook Time: <input id="cook_time" type="text" name="cook_time"><br>
  <br>
  <input type="submit" value="Create new recipe">
</form>
