<form method="post" action="/recipes">
    Recipe name:<br>
    <input type="text" name="name" ><br>

    Recipe ingredients:<br>
    <input type="text" name="ingredients" ><br>

    Recipe cook time:<br>
    <input type="text" name="cook_time" ><br>

    <input type="submit" value="Submit"><br>
    
  </form>