<p>Recipe Name: <%= @r.name %> </p>
<p>Recipe Ingredients: <%= @r.ingredients %> </p>
<p>Recipe Cook Time: <%= @r.cook_time %> </p>

<form action="/recipes/<%=@r.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>